body {
    margin: 0;
    background: #222;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 10px 0;
}

.gameArea {
    width: 300px;
    height: 500px;
    background: #555;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
}

.car {
    width: 50px;
    height: 80px;
    background: red;
    position: absolute;
    bottom: 10px;
    left: 125px;
    border-radius: 5px;
}

.enemy {
    width: 50px;
    height: 80px;
    background: black;
    position: absolute;
    top: -100px;
    border-radius: 5px;
}
